<h1 class="center-align fadeInLeft"><span class="green-letter">S</span>ettings</h1>


<h2 class="center-align fadeInLeft"><span class="green-letter">D</span>elete <span class="green-letter">A</span>ccount<h2>

<p class="center-align fadeInLeft">Deleting your account can not be undone</p>

<div class="row black white-text fadeInRight">
  <p>
    <h3 class="center-align">Please enter your username & password to confirm</h3>
  </p>
  <form action="/deleteAccount" method="post">
    <div class="col s12">
      <input type="text" name="username" id="username" placeholder="Username" required>
    </div>
    <div class="col s12">
      <input type="password" name="password" id="password" placeholder="Password" required>
    </div>
    <p class="center-align">
      <input type='hidden' name='_method' value='DELETE'/>
      <button type="submit" class="waves-effect waves-light btn"><i class="material-icons right">delete_forever</i>Delete</button>
    </p>
  </form>
</div>



<h2 class="center-align fadeInLeft"><span class="green-letter">C</span>hange <span class="green-letter">P</span>assword<h2>

<div class="row black white-text fadeInRight">
  <p>
    <h3 class="center-align">Please enter current password &  new password to confirm</h3>
  </p>
  <form action="/changePassword" method="post">
    <div class="col s12">
      <input type="password" name="password" id="password" placeholder="Current Password" required>
    </div>
    <div class="col s12">
      <input type="password" name="new_password" id="new_password" placeholder="New Password" pattern="\w{3,30}" title="Between 3-30 characters no spaces or special characters" required>
    </div>
    <div class="col s12">
      <input type="password" name="new_password2" id="new_password2" placeholder="Re-enter New Password" pattern="\w{3,30}" title="Between 3-30 characters no spaces or special characters" required>
    </div>
    <p class="center-align">
      <input type='hidden' name='_method' value='PUT'/>
      <button type="submit" class="waves-effect waves-light btn"><i class="material-icons right">check</i>Confirm</button>
    </p>
  </form>
</div>



<h2 class="center-align fadeInLeft"><span class="green-letter">C</span>hange <span class="green-letter">D</span>isplay <span class="green-letter">N</span>ame</h2>

<div class="row black white-text fadeInRight">
  <p>
    <h3 class="center-align">Enter new display name below</h3>
  </p>
  <form action="/changeDisplayName" method="post">
    <div class="col s12">
      <input type="text" name="display_name" id="display_name" placeholder="Display Name" pattern="\w{3,30}" title="Between 3-30 characters no spaces or special characters" required>
    </div>
    <p class="center-align">
      <input type='hidden' name='_method' value='PUT'/>
      <button type="submit" class="waves-effect waves-light btn"><i class="material-icons right">check</i>Confirm</button>
    </p>
  </form>
</div>