<div class="black white-text">
  <h1 class="center-align">Welcome to <span class="green-letter">K</span>oin <span class="green-letter">S</span>tack!</h1>
  <p class="center-align"> A social network for crypto-enthusiasts! </p>
</div>