<h1>Thank you for signing in</h1>

Welcome to Koin Stack <%= @user.profile.display_name %>! Kick your shoes off, stay a while!

<form action="/search" method="post">
<input type="search" name="search" id="search" placeholder="E.G. 'sause' or '#hello' ">
<input type="submit" value="Go">
</form>

<h1>Make A Post!</h1>

<form action="/make-post" method="post">
  <input type="file" name="image" placeholder="Image" multiple>
  <input type="text" name="title" id="title" placeholder="Title">
  <%# <input type="file" name="video" placeholder="Video"multiple> %>
  <textarea type="text" name="content" id="password" placeholder="Post" cols="30" rows="10" required></textarea>
  <%# <input type="text" name="title" id="title" placeholder="Title"> %>
  <input type="submit" value="Go">
</form>

<br>
<br>




