<h1 class="center-align fadeInDown"><span class="green-letter">U</span>sers</h1>

<ul class="black fadeInUp">

<% @users.each do |user| %>

  <li> <a href= "profile/<%= user.profile.display_name %>"> @<%= user.profile.display_name %> </a> </li>

<% end %>

</ul>